name: Pipeline CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubunto-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm run test

  deploy:
    needs: build
    runs-on: ubunto-latest
    steps:
      - name: Deploy (simulado)
        run: echo "Deploy realizado com sucesso"